<h1><%= @list.name %></h1>

<button type="button" class="btn btn-light"><%= link_to "New Bookmark Form", new_bookmark_path %></button>
<button type="button" class="btn btn-light"><%= link_to "Back to list", lists_path %></button>
